* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.logo {
    color: #238df0;
    font-size: 24px;
    align-items: center;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.nav-menu a:hover {
    color: #2338f0;
    font-size: large;
}

.cart-link {
    background-color: rgba(126, 126, 238, 0.747);
    color: white !important;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
}

.cart-link:hover {
    background-color: rgba(115, 155, 241, 0.747);
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    transform: scale(1.1);
}

